* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3f0b43;
  color: #fff;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  font-family:'Lobster Two';
  color: cadetblue;
  font-size: 4em;
  text-decoration: overline;
}

.coin-input {
  padding-left: 16px;
  width: 900px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: #e2e2e2;
}
.coin-input::placeholder {
  color: #e2e2e2;
}

.header-row {
  display: flex;
  justify-content: center;
}

.header-col {
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  border: 2px solid turquoise;
  min-width: 300px;
  height: 50px;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.header-currency {
  width: 150px;
  margin-right: 50px;
  padding-left: 20px;
}

.header {
  width: 135px;
  color: black;
  background-color: cadetblue;
  font-size: 1em;
  font-weight: 600;
}

.header-price {
  width: 110px;
}

.header-volume {
  width: 200px;
  padding-left: 50px;
}

.header-marketcap {
  width: 240px;
}

.header-price_change_percentage_24h {
  width: 120px;
}

.header-high {
  width: auto;
  padding-left: 60px;
}

.header-low {
  /* width: 100px; */
  padding-left: 30px;
}
